@using ServiceLayer.ViewModels.IdentityViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="auths">
    <div class="container">
        <div class="auth shadow-box">
            <div class="row" style="min-height: inherit;">
                <div class="col-lg-8">
                    <div class="auth-forms">
                        <div class="auth-forms-item">
                            <div class="auth-logo d-lg-none d-block">
                                <a href="index.html"><img src="/templates/rasta/img/default-icon/logo.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="auth-title">
                                <h3>ثبت نام کنید</h3>
                                <p class="my-3 text-muted">اگر قبلا ثبت نام کرده اید وارد شوید</p>
                            </div>
                            <div class="auth-form">
                                <form method="post" asp-action="RegisterByMobile">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                                            <input asp-for="DisplayName" type="text" class="form-control" placeholder="نام و نام خانوادگی">
                                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="شماره موبایل">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-key"></i></span>
                                            <input asp-for="Password" type="password" placeholder="رمز عبور" class="form-control">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-key"></i></span>
                                            <input asp-for="RePassword" type="password" placeholder="تکرار رمز عبور" class="form-control">
                                            <span asp-validation-for="RePassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center flex-column align-items-center flex-wrap">
                                        <button type="submit" class="btn-login w-50 waves-effect waves-light">
                                            <i class="bi bi-person"></i>
                                            ثبت نام در سایت
                                        </button>
                                        <a class="btn-login login w-50 waves-effect waves-light" href="#">
                                            <i class="bi bi-lock"></i>
                                            ورود به سایت
                                        </a>
                                    </div>

                                </form>
                 @*               <div class="social mt-3">
                                    <a href="" class="bi bi-google"></a>
                                    <a href="" class="bi bi-facebook"></a>
                                    <a href="" class="bi bi-github"></a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="auth-side d-lg-block d-none">
                        <div class="background">
                            <div class="cube"></div>
                            <div class="cube"></div>
                            <div class="cube"></div>
                            <div class="cube"></div>
                            <div class="cube"></div>
                        </div>
                        <div class="auth-desc">
                            <div class="auth-logo">
                                <a href="index.html"><img src="/templates/rasta/img/default-icon/logo.png" class="img-fluid" alt=""></a>
                            </div>
                            <h3 class="fw-bold">خوش آمدید</h3>
                            <p class="my-3">
                                اگر قبلا ثبت نام کرده اید میتوانید از این قسمت وارد شوید
                            </p>
                            <a href="login.html" class="btn-login-page waves-effect waves-light">وارد شوید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                            @section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
                            }